<nav id="nav" class="navbar navbar-template">
        <div class="row col-xs-12 text-center">
          <ul>
          {% set i = 1 %}
           {% for item in items %}
              <li class="{% if i == 1  %} active  {% endif %}">
              <a href="#{{ item.content['#paragraph'].field_scroll_title.value }}">{{ item.content['#paragraph'].field_scroll_title.value }}</a>
            </li>
            {% set i = i + 1 %}
           {% endfor %}
          </ul>
        </div>
      </nav>
<div style="margin-left: 150px;background: aliceblue;">
      {% for item in items %}
        <section class="scrollspy" id="{{ item.content['#paragraph'].field_scroll_title.value }}">
        {{ item.content['#paragraph'].field_scroll_description.value|raw }}
        </section>
      {% endfor %}
	  </div>