/* Accordion Styling */
.accordion {
    background-color: #ecedee;
    color: #000000;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 1rem 1rem 1rem 2.5rem;
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
  }
    
  .accordion:after {
    border: 0.18rem #000000 solid;
    content: "\002B";
    color: #000000;
    font-weight: bold;
    font-size: 1.7rem;
    float: right;
    margin: 0 1.1rem;
    padding: 0 0.7rem;
    border-radius: 0.3rem;
  }
  
  .panel-active:after {
    background-color: #000000;
    border: 0.18rem #ecedee solid;
    content: "\2212";
    color: #ecedee;
    font-weight: bold;
    font-size: 1.7rem;
    float: right;
    margin: 0 1.1rem;
    padding: 0 0.7rem;
    border-radius: 0.3rem;
  }
  
  span.bullet {
    position: relative;
    left: -0.7rem;
    font-size: 2rem;
  }
  
  .ans-panel {
    color: #484848;
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    padding: 0 2.5rem;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
  }
  
  .ans-panel li {
    list-style: disc !important;
  }
  /* Tab Styling */
  .tab-accordion {
    width: 64vw;
    margin: 2rem auto;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 3rem;
    transition: 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 1rem 2rem;
    border: 0.1rem solid #ccc;
    border-top: none;
  }
  
  /* Image Carousal Styling */
  
  .gallery {
    width: 100%;
  }
  
  .gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }
  
  .gallery-item {
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 150px;
    z-index: 0;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border: 1px solid #a3a3a3;
  }
  
  .gallery-item-1 .slide-title, .gallery-item-2 .slide-title, .gallery-item-4 .slide-title, .gallery-item-5 .slide-title, .gallery-item-1 .description, .gallery-item-2 .description, .gallery-item-4 .description, .gallery-item-5 .description  {
    display: none;
  }
  
  .gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-item-2,
  .gallery-item-4 {
    opacity: 1;
    width: 200px;
    z-index: 1;
  }
  
  .gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
  }
  
  .gallery-item-3 {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
  }
  
  .gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
  }
  
  .gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  .gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
  }
  
  .gallery-controls button:focus {
    outline: none;
  }
  
  .gallery-controls-previous {
    position: relative;
  }
  
  .gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-previous:hover::before {
    left: -18px;
  }
  
  .gallery-controls-next {
    position: relative;
  }
  
  .gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-next:hover::before {
    right: -18px;
  }
  
  .gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  
  .gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
  }
  
  .gallery-nav li.gallery-item-selected {
    background: #555;
  }